<h1>Listing article</h1>

<p>Title: <%= @article.title %></p>
<p>Description: <%= @article.description %></p>

<%= link_to "Edit article", edit_article_path(@article) %> |
<%= link_to "Go back to listings", articles_path %>