$navbar-default-bg: maroon;

@import 'bootstrap-sprockets';
@import 'bootstrap';

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset_url('cover.jpg');
  background-size: cover;
  height: 620px;
}

.jumbotron h1 {
  color: #fff;
  margin: 60px 0 30px 0;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
}

.btn-custom {
  font-size: 1.3em;
  background-color: black;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding: 15px 0 15px 0;
}

.user-listing {
  list-style: none;
  padding-left: 0;
}
.category-listing {
  list-style: none;
  padding-left: 0;
}

footer {
  margin-top: 45px;
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
  color: #777;
}

footer small {
  float: left;
}

footer ul {
  list-style: none;
  float: right;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
