<div class="container">
    <footer class="footer">
        <small>Copyright &copy; <%= link_to "Bloggzy - 2020", root_path %> </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>