<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <% flash.each do |key, msg| %>
        <div class='alert alert-<%="#{key}"%>'>
            <a href="#" class="close" data-dismiss="alert">&#215;</a>
            <%= content_tag :div, msg, :id => "flash_#{key}" if msg.is_a?(String) %>
        </div>
        <% end %>
    </div>
</div>